{{ partial "header" . }}

<main>

    {{ partial "list-item" . }}

    <br> <div class="text-justify">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">Related</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

    {{ if .Site.Params.coralID }}
    <h4 class="page-header">Comments</h4>
    <div id="coral_thread"></div>
    <script type="text/javascript">
      (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://{{ .Site.Params.coralHost }}/assets/js/embed.js';
          s.onload = function() {
              Coral.createStreamEmbed({
                  id: "{{ .Site.Params.coralID }}",
                  autoRender: true,
                  rootURL: 'https://{{ .Site.Params.coralHost }}',
                  // Uncomment these lines and replace with the ID of the
                  // story's ID and URL from your CMS to provide the
                  // tightest integration. Refer to our documentation at
                  // https://docs.coralproject.net for all the configuration
                  // options.
                  // storyID: '${storyID}',
                  // storyURL: '${storyURL}',
              });
          };
          (d.head || d.body).appendChild(s);
      })();
    </script>
    {{ end }}

</main>

{{ partial "footer.html" . }}
