{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        
        <h2>Hi my name is min_night.</h2>
        <div style = "width: 75%; margin: 0 auto;">
            <h3>I am easy reading blog, with night-mode.</h3>
            <h4>I customize easy and love pull requests.</h4>
        </div>
    </div>

</main>

{{ partial "footer" . }}
